<h2>Google User Data After Authentication</h2>

<p>
<div><b>First Name:</b>{{firstName}}</div>
<div><b>Last Name:</b>{{lastName}}</div>
<div><b>JWT Token:</b>{{jwtToken}}</div>
<div><b>Sub ID:</b>{{subId}}</div>

</p>