<h1>Sayeed Sadat CS493 OAuth 2.0 Assignment using Google Cloud</h1>

<p> This is a demo assignment to learn OAuth 2.0 using Google Cloud for Oregon State University CS493 Fall 2022 </p>
<p> Click the link below to begin authentication </p> 

<p>
    <a href='/redirect'><button>Begin authentication</button></a>

</p>